{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/icons/fu_furnaceHeader.png",
      "fileBody" : "/interface/crafting/shcBody.png",
      "fileFooter" : "/interface/crafting/icons/fu_furnaceFooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [145, 177]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      /// [ horiz, verti ]
      "position" : [37, 56],
      "dimensions" : [1, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      /// [ horiz, verti ]
      "slotOffset" : 6,
      "position" : [119, 56],
      "dimensions" : [1, 6],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 12,
      "position" : [7, 29],
      "dimensions" : [8, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [86, 12]
    },
    "labelWater": {
      "type": "label",
      "value": "x50",
      "hAnchor": "mid",
      "position": [17, 150]
    },
    "labelPsi2": {
      "type": "label",
      "value": "Psi-2",
      "hAnchor": "mid",
      "position": [99, 142]
    },
    "labelPsi2Count": {
      "type": "label",
      "value": "x20",
      "hAnchor": "mid",
      "position": [99, 130]
    }
  }
}
