{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/bee_transmogrifierHeader.png",
      "fileBody" : "/interface/crafting/bee_transmogrifierBody.png",
      "fileFooter" : "/interface/crafting/bee_transmogrifierFooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "press" : "/interface/xpress.png",
      "position" : [117, 92]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      /// [ horiz, verti ]
      "position" : [88, 24],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/crafting/icons/empty.png"
    },
    // Killing this for now since I'm not sure how to make gui talk to object
    // "toggleTransmogrify" : {
    //   "type" : "button",
    //   "base" : "/interface/crafting/transmogrify_button.png",
    //   "hover" : "/interface/crafting/transmogrify_buttonhover.png",
    //   "press" : "/interface/crafting/transmogrify_buttonhover.png",
    //   "caption" : "Transmogrify",
    //   "position" : [64, 3],
    //   "callback" : "toggleTransmogrifyButtonClicked"
    // },
    "labelReagent": {
      "type": "label",
      "value": "Reagent",
      "hAnchor": "mid",
      "position": [58, 48]
    }
  }
}
